body, h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.green {
    color: #226C3B;
}

.white {
    color: white;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
}

.project-title, p {
    font-family: 'Open Sans', sans-serif;
}

.about-section {
    background-color: black;
}

.learn-more, .source-code {
    font-size: 1rem;
    font-weight: 700;
    color: #226C3B;
    padding: 0.5rem 2rem;
}

.learn-more {
    margin: 5% 0;
    border: solid 2px #226C3B;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.learn-more:hover {
    background-color: #226C3B;
    color: white;
    cursor: pointer;
}

.source-code {
    border: solid 2px white;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.source-code:hover {
    cursor: pointer;
    border: solid 2px #226C3B;

}

.link-see-more {
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    border-bottom: 2px solid #226C3B;
    font-size: 2rem;
}

.contact-link {
    width: fit-content;
    border-bottom: 2px solid #226C3B;
    font-size: 2rem;
    margin: auto;
}

.contact-links a {
    text-decoration: none;
    color: #226C3B;
}

.contact-links a:hover {
    color: white;
    cursor: pointer;
}

.contact-section {
    background-color: #B9E9C9;
    text-align: center;
}

h1 {
    font-size: 2.6rem;
}

.header {
    background-color: #B9E9C9;
    background-image: url('images/lotus2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 9% 70%;
    text-align: center;
}

.about-section, .work-section, .contact-section {
    padding: 10% 5%;
}

.project-title {
    margin-top: 10%;
    font-weight: 700;
}

.project-info, .project-image {
    margin-top: 3%;
}

.project-image {
    width: 100%;
}

.contact-links {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
}

.project-header {
    padding: 10% 10% 5%;
    background-color: #B9E9C9;
}

.project-body {
    padding: 5% 10%;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.content {
    margin: 2rem 0;
}

.image-container {
    width: 100%;
    text-align: center;
}

.demo-image {
    width: 80%;
    margin-bottom: 1rem;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#prop-dash {
    width: -webkit-fill-available;
}

@media screen and (min-width: 425px) {
    
    .header {
        padding-bottom: 60%;
    }

    .hero-text {
        font-size: 2.8rem;
    }

    .project-title {
        margin-top: 5%;
    }

    .source-code {
        margin: 5% 2%;
    }
}

@media screen and (min-width: 600px) {

    .hero-text, h1 {
        font-size: 3.5rem;
    }

    .link-see-more {
        font-size: 3rem;
    }

    .contact-links h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 768px) {

    .header {
        padding-bottom: 50%;
    }
    
    .hero-text {
        font-size: 4rem;
    }

    p {
        font-size: 1.2rem;
    }

    .project-title {
        font-size: 2rem;
    }

    .project-body {
        padding-left: 15%;
        padding-right: 15%;
    }

    .contact-links {
        flex-direction: row;
    }

}

@media screen and (min-width: 1024px) {
    
    .header {
        padding-bottom: 40%;
    }

    .hero-text {
        font-size: 4.5rem;
    }

    h1 {
        font-size: 4rem;
    }

    .link-see-more, .contact-links h2 {
        font-size: 3rem;
    }

    .contact-links, .projects {
        display: flex;
    }

    .project-title, .project-image {
        margin: 0;
    }

    .projects {
        margin-top: 5%;
    }

    .flex-left {
        padding-right: 4%;
        width: 65%;
    }

    .about-section, .work-section, .contact-section {
        padding: 5%;
    }
}

@media screen and (min-width: 1440px) {
    
    .hero-text {
        font-size: 5rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    .link-see-more, .contact-links h2 {
        font-size: 3.5rem;
    }

    .project-title {
        font-size: 3rem;
    }

    p {
        font-size: 1.4rem;
    }
}
